body {
  background-color: #007bff;
  color: white;
  max-width: 500px;
  margin: auto;
  border: 1px solid #333;
}
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-left: 1em;
}
.box {
  padding: 2em;
  background-color: white;
  color: black;
}
.box2 {
  padding: 2em;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button {
  border: 2px solid #c8d4fa;
  font-size: 16px;
  font-weight: 500;
  color: #4e78f4;
  font-family: "Poppins", sans-serif;
  border-radius: 45px;
  line-height: 26px;
  padding: 8px 27px;
  display: inline-block;
  margin-top: 10px;
  transition: all 0.3s linear;
}
